.service{
    width: 350px;
    background-color: white;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    box-shadow: 4px 8px 15px 9px #cfcdcd;
    position: relative;
}
.service img{
    max-width: 333px;
    height: 280px;
    border-radius: 8px;
    margin: 7px;
}
.service-info{
    margin: 0 14px;
}
.service-info p{
    margin-bottom: 0;
    margin-top: 5px;
    font-size: large;
    font-weight: 600;

}
.btn-cart{
    width: 100%;
    background: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart:hover{
    background-color: orange;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .service{
        width: 300px;
        background-color: white;
        border: 1px solid #95A0A7;
        border-radius: 8px;
        box-shadow: 4px 8px 15px 9px #cfcdcd;
        position: relative;
    }
    .service img{
        max-width: 280px;
        height: 280px;
        border-radius: 8px;
        margin: 7px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .service{
        width: 320px;
        background-color: white;
        border: 1px solid #95A0A7;
        border-radius: 8px;
        box-shadow: 4px 8px 15px 9px #cfcdcd;
        position: relative;
    }
    .service img{
        max-width: 296px;
        height: 280px;
        border-radius: 8px;
        margin: 7px;
    }
}
@media only screen and (min-width: 993px) and (max-width: 1230px) {
    .service{
        width: 290px;
        background-color: white;
        border: 1px solid #95A0A7;
        border-radius: 8px;
        box-shadow: 4px 8px 15px 9px #cfcdcd;
        position: relative;
    }
    .service img{
        max-width: 276px;
        height: 280px;
        border-radius: 8px;
        margin: 7px;
    }
}
